html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: black url(fondetoile.jpg) repeat center center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  overflow: hidden;
  animation: bg 30s linear infinite;
}

.scene1 {
  color: #276980;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  font-size: 2rem;
  animation: removeScene 1s linear 7s infinite, scene1 7s linear;
}

.scene2,
.scene3 {
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.scene2 img {
  height: 100%;
  width: 100%;
  animation: removeScene 7s linear, scene2 14s linear 7s,
    removeScene 1s linear 21s infinite;
}

.scene3 {
  perspective: 50vw;
  min-width: 100%;

  color: #fabb23;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 14px;
  text-align: justify;
  line-height: 100px;
}

.scene3 .crawl {
  display: block;
  position: relative;
  transform-origin: top center;
  animation: removeScene 17s linear, crawl 60s linear 17s;
  top: 100vh;
}

@keyframes scene1 {
  0% {
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
    display: flex;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scene2 {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes crawl {
  0% {
    transform: rotateX(45deg) translateZ(0);
  }

  100% {
    top: -2500px;
    transform: rotateX(45deg) translateZ(-2500px);
  }
}

@keyframes removeScene {
  0%,
  100% {
    opacity: 0;
  }
}

@keyframes bg {
  0% {
    /* background-image: none; */
    background-position-y: 100%;
  }
  100% {
    background-position-y: 0%;
  }
}
